In [ ]:
# Missing Value

import pandas as pd

In [ ]:
df=pd.DataFrame([["1","2","s"],["1","2",2],["1","2",4],["1","2",4]], columns=['GDP','GDPPC','Employ'])

In [ ]:
df

In [ ]:
df['GDP']=pd.to_numeric(df['GDP'], errors='coerce')

In [ ]:
for column in df:
    df[column]=pd.to_numeric(df[column], errors='coerce')

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
# repalace by 0
from numpy import nan
df[['GDP','GDPPC','Employ']] = df[['GDP','GDPPC','Employ']].replace(nan, 0)

In [ ]:
df

In [ ]:
# remove row
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
# replace by average
df['Employ'].fillna(value=df['Employ'].mean(), inplace=True)

In [ ]:
df

In [ ]:
# replace by median

In [ ]:
df['Employ'].fillna(value=df['Employ'].median(), inplace=True)

In [ ]:
df

In [ ]:
# Remove all columns that have no values, df1[columns].sum()==0

In [ ]:
# Remove all columns that have more than 210 observations, df1[columns].count()<210